* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --font-family-logo: "Quicksand", serif;
    --font-family-title: "Nunito Sans", serif;
    --font-family-body: "Roboto", serif;

    --body-color-black: #16133D;
    --color-green: #3DB370;
    --color-smtitle: #7690A8;
    --background-color-footer: #16133D;
    --color-white: #FFF;
    --background-color-icone: #EFEEF3;
    --color-border-item: #E5EAF4;
}

body {
    font-family: var(--font-family-body);
    color: var(--body-color-black);
}

a {
    text-decoration: none;
    cursor: pointer;

}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.container {
    width: 1170px;
}

/* heaer start */
.header__logo,
.footer__logo {
    display: flex;
    width: 200px;
    height: 35px;
    justify-content: center;
    align-items: center;
    gap: 12.553px;
}

.header__vector,
.footer__vector {
    width: 30px;
    height: 30px;
}

.header__logo-text {
    color: var(--body-color-black);
    font-family: var(--font-family-logo);
    font-size: 35px;
}

/* heaer end */

.smtitle {
    color: var(--color-smtitle);
    line-height: 21px;
}

.title {
    font-family: var(--font-family-title);
    font-size: 40px;
    line-height: 52px;
    letter-spacing: 0.2px;
    padding: 15px 0 40px;
}

.service__cards {
    display: flex;
    width: 1170px;
    align-items: flex-start;
    gap: 30px;
}

.service__cards-item {
    display: flex;
    width: 370px;
    height: 340px;
    padding: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid var(--color-border-item);
}

.service__cards-item:hover {
    border-radius: 8px;
    border: 1px solid var(--color-green);
    background: var(--color-white);
    transition: all 0.8s ease;
}

.cards-item-icon {
    display: flex;
    width: 64px;
    height: 64px;
    padding: 8px 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 16px;
    border: 1px solid rgba(21, 101, 216, 0.10);
    cursor: pointer;
}

.col-1 {
    fill: #D1E7FF;
}

.col-1:hover {
    fill: #E1F4F5;
}

.col-2 {
    fill: #E8F3FF;
}

.col-2:hover {
    fill: #F4FEFF;
}

.col-3 {
    fill: #B9DCFF;
}

.col-3:hover {
    fill: #CAEFF2;
}

.col-4 {
    fill: #007FFC;
}

.col-4:hover {
    fill: #52C29D;
}

.cards-item-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
}

.mtitle {
    font-size: 24px;
    font-weight: 400;
    line-height: 21.28px;
    letter-spacing: 0.2px;
}

.par {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.link {
    color: var(--color-green);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.footer {
    background-color: var(--background-color-footer);
    width: 1440px;
}

.footer__container {
    display: flex;
    width: 1170px;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    padding: 40px 135px;
}

.footer__logo-text {
    color: var(--color-white);
    font-family: var(--font-family-logo);
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: 35px;
}

.footer__socials {
    display: flex;
    gap: 10px;
}

.icone-link {
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background: var(--background-color-icone);
}

.svg {
    fill: #0D0D0D;
}

.svg:hover {
    fill: #3DB370;
    transition: all 0.2s ease;
}