* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

button {
    border: none;
    outline: none;
    background: none;
    font-family: var(--body-font-family);
    cursor: pointer;
}

.wrapper {
    width: 1440px;
    margin: 0 auto;
    font-family: var(--body-font-family);
}

.container {
    // max-width: 1120px;
    padding: 0 160px;
}