:root {
    --text-color-white: #FFF;
    --title-color-blue: #008EC4;
    --text-color-black: #1A1A1A;
    --text-color-grey: #8C8C8C;
    --border-color: #D9D9D9;
    --color-background-icone: #EBF9FF;
    --color-logo-text: #404040;
    --color-rate: #E5E5E5;
    --color-border-button: #D8D8D8;
}